In [2]:
import pandas as pd
import numpy as np
from matplotlib.pyplot import subplots

In [3]:
x = []

for _ in range(3):
    x.append(20)

In [4]:
x

[20, 20, 20]

In [5]:
df = pd.read_excel('cip.xlsx')

In [6]:
df.head()

              Name          ID     SEX  AGE  BIO 152  CHEM 101
0        AMAKA EZE  2019/34578  FEMALE   23       67        72
1     CHINAZA OGBU  2019/87645  FEMALE   21       56        62
2       EJIKE NGWU   2019/3421    MALE   25       60        65
3  OBINNA EZEANUGO  2019/54346    MALE   26       67        71